HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
telegram-bot/src/main/resources/application-h2.properties
telegram-bot/src/main/resources/application-postgresql.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr